<!DOCTYPE html>
<html lang="en">
<!--    **************************************************   HEAD   ****************************************************    -->
<!--head-->
<%- include('../includes/head') %>
<!--/head-->
<!--    **************************************************   BODY   ****************************************************    -->
<body>
<!--    **************************************************   HEADER   ****************************************************    -->
    <!--header-->
    <%- include('../includes/header') %>
    <!--/header-->
    <!--    **************************************************   MAIN  ****************************************************    -->
    <main id="maindetalle">
        <% if (!user) { %>
            <picture><img class="imgdetalle" src="/images/products/<%= product.image  %>" alt=""></picture>
            <section id="secciondetalle">
            <h2 id="nombreproduct"><%= product.name %> - <span>$<%= product.price %></span></h2>
            <p><%= product.description %></p>
            <% } else if (user && user.isAdmin) { %>
                <picture><img class="imgdetalle" src="/images/products/<%= product.image  %>" alt=""></picture>
                <section id="secciondetalle">
                <h2 id="nombreproduct"><%= product.name %> - <span>$<%= product.price %></span></h2>
                <p><%= product.description %></p>
                <form action="/products/delete/<%= product.id %>?m=DELETE" method="post">
                    <button type="submit">
                        <i class="fa fa-trash"></i>
                    </button>
                </form>
                <form action="/products/edit/<%= product.id %>" method="get">
                    <button type="submit">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </form>
                <% } else { %>
                    <picture><img class="imgdetalle" src="/images/products/<%= product.image  %>" alt=""></picture>
                    <section id="secciondetalle">
                    <h2 id="nombreproduct"><%= product.name %> - <span>$<%= product.price %></span></h2>
                    <p><%= product.description %></p>
            <% } %>
        </section>
        
    </main>
    <!--    **************************************************  CHAT WHATSAPP   ********************************************  -->
    <%- include('../includes/bodywhapp') %>
    <!--    **************************************************  FOOTER   ****************************************************  --> 
     <!--footer-->
     <%- include('../includes/footer') %>
     <!--/footer-->
</body>
</html>
