<!DOCTYPE html>
<html lang="en">
<!--    **************************************************   HEAD   ****************************************************    -->
<!--head-->
<%- include('../includes/head') %>
    <!--/head-->
    <!--    **************************************************   BODY   ****************************************************    -->

    <body>
        <!--    **************************************************   HEADER   ****************************************************    -->
        <!--header-->
        <%- include('../includes/header') %>
            <!--/header-->
            <!--    **************************************************   MAIN  ****************************************************    -->
            <main id="maindetalle">
                <% if (!User) { %>
                    <section class="secciongeneral">
                        <section class="seccion-imagen">
                            <picture><img class="imgdetalle" src="/products/<%= products.imageid  %>" alt=""></picture>
                        </section>
                        <section class="nombre-descripcion">
                            <h2 class="nombreproduct">
                                <%= products.name %> - <span class="precio">$<%= products.price %></span>
                            </h2>
                            <p class="descripcion-producto">
                                <%= products.description %>
                            </p>
                        </section>
                    </section>
                    <% } else if (User && User.isadmin) { %>
                        <section class="secciongeneral">
                            <section class="seccion-imagen">
                                <picture><img class="imgdetalle" src="/products/<%= products.imageid  %>" alt="">
                                </picture>
                            </section>
                            <section class="nombre-descripcion">
                                <h2 class="nombreproduct">
                                    <%= products.name %> -
                                  
                                        <span class="precio">$<%= products.price %></span>
                                       
                                </h2>
                                <p class="descripcion-producto">
                                    <%= products.description %>
                                </p>
                                <form action="/products/delete/<%= products.id %>?m=DELETE" method="post">
                                    <button class="borrar" type="submit">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </form>
                                <form action="/products/edit/<%= products.id %>" method="get">
                                    <button class="editar" type="submit">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                </form>
                            </section>
                        </section>
                        <% } else { %>
                            <section class="secciongeneral">
                                <section class="seccion-imagen">
                                    <picture><img class="imgdetalle" src="/products/<%= products.imageid  %>" alt="">
                                    </picture>
                                </section>
                                <section class="nombre-descripcion">
                                    <h2 class="nombreproduct">
                                        <%= products.name %> - <span class="precio">$<%= products.price %></span>
                                    </h2>
                                    <p class="descripcion-producto">
                                        <%= products.description %>
                                    </p>
                                </section>
                            </section>
                            <% } %>






            </main>
            <!--    **************************************************  CHAT WHATSAPP   ********************************************  -->
            <%- include('../includes/bodywhapp') %>
                <!--    **************************************************  FOOTER   ****************************************************  -->
                <!--footer-->
                <%- include('../includes/footer') %>
                    <!--/footer-->
    </body>

</html>